{% extends "model_detail.html" %}

{% block lang_code %}ja{% endblock %}

{% block head_title %}モデル詳細{% endblock %}

{% block title %}モデル詳細{% endblock %}

{% block device_name %}デバイス名{% endblock %}

{% block device_type %}デバイスタイプ{% endblock %}

{% block spice_string_title %}SPICE文字列{% endblock %}

{% block lowercase_checkbox_label %}SPICE文字列を小文字で表示{% endblock %}

{% block copy_button %}SPICE文字列をコピー{% endblock %}

{% block author_title %}著者{% endblock %}

{% block comment_title %}コメント{% endblock %}

{% block created_at_title %}作成日{% endblock %}

{% block iv_curve_title %}IV特性曲線{% endblock %}

{% block vgs_id_curve_title %}Vgs-Id特性曲線{% endblock %}

{% block gm_vgs_curve_title %}Gm-Vgs特性曲線{% endblock %}

{% block gm_id_curve_title %}Gm-Id特性曲線{% endblock %}

{% block back_link %}モデル一覧に戻る{% endblock %}

{% block copy_alert %}SPICE文字列がクリップボードにコピーされました！{% endblock %}

{% block basic_performance_title %}電気的特性{% endblock %}

{% block basic_performance_note %}注: これらの結果は、LTspiceの静解析シミュレーション（.op）に基づいています。このシミュレーションでは、Vds = 10V, -10V を使用しています。{% endblock %}

{% block idss_description %}自己バイアス電流{% endblock %}

{% block gm_description %}トランスコンダクタンス{% endblock %}

<!-- {% block gds_description %}出力インピーダンスの逆数{% endblock %} -->

{% block cgs_description %}ゲート-ソース間容量{% endblock %}

{% block cgd_description %}ゲート-ドレイン間容量{% endblock %}

{% block rout_description %}出力インピーダンス(1/Gds){% endblock %}
