{% extends 'spice_model_add.html' %}

{% block lang_code %}ja{% endblock %}

{% block title %}SPICEモデル追加 - SPICEモデルリポジトリ{% endblock %}

{% block header_title %}SPICEモデル追加{% endblock %}
{% block header_subtitle %}新しいSPICEモデル文字列を解析して提出{% endblock %}

{% block instructions %}以下にSPICEモデル文字列を入力してください。システムは文字列を解析して必要なデータを抽出します。{% endblock %}

{% block author_placeholder %}あなたの名前{% endblock %}
{% block comment_placeholder %}コメントを追加{% endblock %}
{% block submit_button %}モデルを追加{% endblock %}
{% block back_to_home %}ホームに戻る{% endblock %}
