{% extends "upload_csv.html" %}

{% block lang_code %}ja{% endblock %}

{% block head_title %}CSVファイルのアップロード{% endblock %}

{% block title %}CSVファイルと実験データのアップロード{% endblock %}

{% block device_label %}デバイス選択{% endblock %}

{% block device_placeholder %}デバイスを選択{% endblock %}

{% block measurement_type_label %}測定タイプ{% endblock %}

{% block operator_name_label %}オペレーター名{% endblock %}

{% block new_device_label %}新しいデバイスを追加{% endblock %}

{% block device_name_label %}デバイス名{% endblock %}

{% block device_name_placeholder %}2SK555{% endblock %}

{% block status_label %}ステータス{% endblock %}

{% block file_label %}CSVファイル{% endblock %}

{% block submit_button %}アップロード{% endblock %}
