* JFET IV Curve Simulation
VDS 1 0 DC 0
VGS 2 0 DC 0
J1 1 2  {{ device_name }}

* JFET Model Parameters
{{ spice_string }}

* DC Sweep for VDS with VGS as a parameter
.DC VDS 0 16 0.1 VGS -0.4 0 0.1

* Output the data to file
.control
    run
    set wr_vecnames
    wrdata data/jfet_iv_curve_data.dat V(1) I(VDS) V(2)  ; V(2)はVGSを出力
.endc

.print DC V(1) I(VDS) V(2)

.end
