* JFET IDSS Simulation

* JFET Model Parameters
{{ spice_string }}

* JFET Circuit Configuration
VDS 1 0 DC 10      ; VDS = 10V
VGS 2 0 DC 0      ; VGS = 0V
JMOD1 1 2 0 {{ device_name }}   ;

* DC Operating Point Analysis (.OP)
.OP

* Output the DC operating point data (IDSS value)
.control
    run
    set wr_vecnames
    wrdata {{ dat_filename }} V(1) I(VDS) V(2) ; Write the VDS (V(1)) and ID (I(VDS)) along with VGS (V(2))
.endc

.print OP V(1) I(VDS) V(2) ; Print VDS, ID, and VGS values to the console

.end
